<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>T/W/I/M/G</title>
	<link rel="stylesheet" href="/styles.css">
</head>

<body>

	<iframe class="iframe-hidden" name="savetarget" src="" frameborder="0" allowtransparency="true"></iframe>

	<div class="meta rate__header" role="dialog" aria-labelledby="rate-title" aria-describedby="rate-description">
		<span id="rate-title">Rate info</span>:<br>
		<span id="rate-description">
			{{ rateLimit.remaining }} / {{ rateLimit.limit }} requests remaining<br>
			Rate limit reset in {{ rateLimit.minutesToReset }} minutes
		</span>
	</div>

	<main role="main">
		<ol class="tweets">
			{{# tweets }}
			<li>
				<figure>
					<ul class="media__list">
					{{# media }}
						<li class="media media__{{ type }} media__orientation-{{ orientation }}" {{# is_video }}data-video-status="pause"{{/ is_video }}>
							{{# is_video }}
							<video src="{{ video_url }}" poster="{{ image_url }}" loop playsinline>
							{{/ is_video }}
							{{^ is_video }}
							<img src="{{ image_url }}">
							<form class="media__save-button" method="post" action="/image" target="savetarget">
								<input type="hidden" name="url" value="{{ image_url }}">
								<input type="hidden" name="handle" value="{{# is_rt }}{{ via_handle }}-{{/ is_rt }}{{ handle }}">
								<button>Save to Dropbox</button>
							</form>
							{{/ is_video }}
						</li>
					{{/ media }}
					</ul>
					<figcaption class="tweet">
						<p class="tweet__text">{{{ text }}}</p>
						<a href="https://twitter.com/{{ handle }}/status/{{ id }}" class="meta tweet__meta">
							<span class="tweet__user">{{ name }} (@{{ handle }})</span>
							{{# is_rt }}/ <span class="tweet__via">RT by {{ via_name }} (@{{ via_handle }})</span>{{/ is_rt }}
							/ Open&nbsp;twitter&nbsp;&rarr;
						</a>
					</figcaption>
				</figure>
			</li>
			{{/ tweets }}
		</ol>
	</main>

	<nav class="footer">
		<a class="footer__link" href="/?id={{ lastTweet.id }}">Next batch &rarr;</a>
	</nav>

	<script>
		Array.from(document.querySelectorAll('[data-video-status]')).forEach(containerEl => {
			const videoEl = containerEl.querySelector('video')
			let status = containerEl.dataset.videoStatus

			containerEl.addEventListener('click', event => {
				status = status == 'play' ? 'pause' : 'play'
				videoEl[status]()
				containerEl.dataset.videoStatus = status
			})
		})
	</script>

</body>
</html>
