* {
	box-sizing: border-box;
}

html {
	font-size: 125%;
}

body {
	font-family: "IBM Plex Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
	font-feature-settings: "kern", "liga", "ss01", "ss02", "ss07", "cv06"; /* ss01=straight 6/9, ss02=open 4, ss07=single storey a, cv06=haakje aan l */
	padding: 0;
	margin: 0;
	line-height: 1.45;
}

main {
	max-width: 100%;
	margin: 0 auto;
	padding: 0.5rem;
}

img {
	display: block;
	width: 100%;
}

ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

figure {
	position: relative;
	align-items: flex-start;
	padding: 0;
	margin: 0 0 1.25rem;
}

.media__list {
	list-style: none;
	padding: 0;
	flex: 0 0 67%;
}

.media {
	position: relative;
}

.media__video::before,
.media__animated_gif::before {
	display: flex;
	content: "►";
	font-size: 4em;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
	text-shadow: 0 0 0.625em black;
}

.tweet {
	flex: 0 0 33%;
}

.tweet__text {
	padding: 0 0.5rem;
	margin: 0.5rem 0;
	word-break: break-word;
}

.meta {
	display: block;
	background: #f7f7f7;
	font-size: 0.75em;
	font-family: 'SF Mono', 'Menlo', monospace;
	padding: 0.25rem 0.5rem;
	color: black;
	text-decoration: none;
}

.rate__header {
	background: #fd0;
}

.footer {
	text-align: right;
	padding: 1.25rem;
}

.footer__link {
	font-family: 'SF Mono', 'Menlo', monospace;
	color: black;
}

@media (min-width: 768px) {
	main {
		padding: 1.25rem;
	}
	figure {
		display: flex;
	}
	figcaption {
		position: sticky;
		padding: 0 1.25rem;
		top: 0;
	}
	.tweet__text {
		font-size: 1.25rem;
		margin: 0.5rem 0 1.25rem;
		padding: 0;
	}
}
