* {
	box-sizing: border-box;
}

html {
	font-size: 125%;
}

body {
	font-family: "IBM Plex Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
	font-feature-settings: "kern", "liga", "ss01", "ss02", "ss07", "cv06"; /* ss01=straight 6/9, ss02=open 4, ss07=single storey a, cv06=haakje aan l */
	padding: 0;
	margin: 0;
	line-height: 1.45;
	font-size: 100%;
}

main {
	max-width: 100%;
	margin: 0 auto;
	padding: 0.5rem;
}

img {
	display: block;
	width: 100%;
}

ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

figure {
	position: relative;
	align-items: flex-start;
	padding: 0;
	margin: 0 0 1.25rem;
}

.media__list {
	list-style: none;
	padding: 0;
	flex: 0 0 67%;
}

.media {
	position: relative;
}

/* play icon */
[data-video-status="pause"]::after {
	display: block;
	content: "";
	position: absolute;
	left: calc(100% + 0.1875em);
	top: 50%;
	width: 100%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 1.25em;
	cursor: pointer;
	border: 1em transparent solid;
	border-right: 0;
	border-left: 1.625em white solid;
}

/* circle around play icon */
[data-video-status="pause"]::before {
	display: block;
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 4em;
	height: 4em;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.35);
}

.media__save-button button {
	position: absolute;
	margin-top: -2em;
	appearance: none;
	height: 2em;
	border: 0;
	background: white;
	padding: 0.25em 0.5em;
	font-family: 'SF Mono', 'Menlo', monospace;
	font-size: 0.6375em;
}

.tweet {
	flex: 0 0 33%;
}

.tweet__text {
	padding: 0 0.5rem;
	margin: 0.5rem 0;
	word-break: break-word;
}

.meta {
	display: block;
	background: #f7f7f7;
	font-size: 0.75em;
	font-family: 'SF Mono', 'Menlo', monospace;
	padding: 0.25rem 0.5rem;
	color: black;
	text-decoration: none;
}

.rate__header {
	background: #fd0;
}

.footer {
	text-align: right;
	padding: 1.25rem;
}

.footer__link {
	font-family: 'SF Mono', 'Menlo', monospace;
	color: black;
}

@media (min-width: 768px) {
	main {
		padding: 1.25rem;
	}

	figure {
		display: flex;
	}

	figcaption {
		position: sticky;
		padding: 0 1.25rem;
		top: 0;
	}

	.tweet__text {
		font-size: 1.25rem;
		margin: 0.5rem 0 1.25rem;
		padding: 0;
	}

	.media__orientation-portrait {
		background: #ddd;
	}

	.media__orientation-portrait img {
		max-height: 95vh;
		width: auto;
		margin: 0 auto;
	}

}

@media (min-width: 1440px) {
	main {
		max-width: 72rem;
	}
}

.iframe-hidden {
	display: block;
	width: 0;
	height: 0;
	margin: 0;
}

video {
	width: 100%;
}
